footer.footer {
    background: #2B4E82;
    padding: 90px 0;
}

.footer__leftsect {
    .footerlogo {
        display: inline-block;
        margin-bottom: 30px;

        img {
            width: 164px;
        }
    }

    p {
        font-size: 12px;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 30px;
        color: #D7D7D7;
        line-height: 150%;
    }

    ul {
        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 8px;

            img {
                width: 40px;
                transition: 0.3s;

                &:hover {
                    filter: drop-shadow(0 0 10px #fff);
                }
            }
        }
    }


}

.footerboxlists {
    display: flex;
    justify-content: flex-end;

    .footerboxlist {
        margin-right: 150px;

        &:last-child {
            margin-right: 0;
        }

        .title {
            font-family: 'vcrosdmono';
            margin-bottom: 15px;
            font-size: 17px;
            text-transform: uppercase;
            line-height: 130%;
            color: #8397B4;
        }

        ul {
            li {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    color: #fff;
                    line-height: 120%;
                    font-size: 16px;
                    transition: 0.3s;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }


    }
}

@media(max-width:1599.8px) {
    footer.footer {
        padding: 70px 0;
    }
}

@media(max-width:1399.8px) {
    .footer__leftsect ul li {
        margin: 0 5px;
    }
}

@media(max-width:1199.8px) {
    .footerboxlists .footerboxlist {
        margin-right: 80px;
    }

    .footer__leftsect .footerlogo img {
        max-width: 100%;
    }
}

@media(max-width:991.8px) {

    .footer__leftsect {
        margin-bottom: 50px;
    }

    .footerboxlists {
        justify-content: space-between;
    }

    .footerboxlists .footerboxlist {
        margin-right: 0;
    }

}

@media(max-width:767.8px) {
    .footerboxlists {
        flex-wrap: wrap;
    }

    .footerboxlist {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}