header.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 11;
    padding: 55px 0 20px;
    transition: 0.5s;
    animation-timing-function: ease-in-out;

    &.scrollheader {
        padding: 30px 0;
        background: #2b4e82;
    }
}

.header__rightsect {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    nav {
        width: 100%;
        max-width: 80%;
        flex: 0 0 80%;
    }

    .header__link {
        width: 100%;
        max-width: 20%;
        flex: 0 0 20%;
        text-align: right;

        a {
            font-size: 17px;
            font-weight: 500;
            color: rgba(221, 228, 237, 1);
            text-transform: uppercase;

            img {
                width: 28px;
                margin-left: 21px;
                margin-top: -1px;
            }

            span {
                position: relative;
                display: inline-block;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    width: 0%;
                    height: 3px;
                    background: #fff;
                    border-radius: 8px;
                    transition: 0.3s;
                    animation-timing-function: ease-in-out;
                }


            }

            &:hover {
                span {
                    &::after {
                        width: 100%;
                    }
                }

                img {
                    animation: arrmove 2s ease-in-out infinite;
                }
            }
        }
    }

    ul {
        display: flex;
        justify-content: center;

        li {
            margin-right: 55px;

            &:last-child {
                margin-right: 0;
            }

            a {
                text-transform: uppercase;
                font-size: 16px;
                color: #fff;
                position: relative;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    width: 0%;
                    height: 3px;
                    background: #fff;
                    border-radius: 8px;
                    transition: 0.3s;
                    animation-timing-function: ease-in-out;
                }

                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@keyframes arrmove {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(5px, -5px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.header__logo img {
    max-width: 100%;
}

.menubtn {
    display: none;
}


@media(max-width:1599.8px) {
    header.header {
        padding: 30px 0;
    }
}

@media(max-width:1399.8px) {
    .header__rightsect ul li a {
        font-size: 15px;
    }
}

@media(max-width:1199.8px) {
    .header__rightsect .header__link a {
        font-size: 15px;

        img {
            width: 20px;
            margin-left: 10px;
        }
    }
}

@media(max-width:991.8px) {
    header.header {
        height: 86px;
    }

    header.header .container {
        position: relative;
    }

    .menubtn {
        display: inline-flex;
        align-items: center;
        padding: 0;
        width: 40px;
        height: 40px;
        border: none;
        background: transparent;
        position: absolute;
        right: 12px;
        top: -7px;

        img {
            width: 24px;
            height: 5px;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            transition: 0.3s;

            &:nth-child(1) {
                top: 12px;
            }

            &:nth-child(2) {
                bottom: 12px;
            }
        }

        &.active {
            img {
                &:nth-child(1) {
                    transform: rotate(-44deg);
                    top: 17.5px;
                }

                &:nth-child(2) {
                    transform: rotate(44deg);
                    bottom: 17px;
                }
            }
        }
    }

    .menuwrapper {
        position: fixed;
        left: 0;
        top: 86px;
        width: 100%;
        height: calc(100vh - 86px);
        z-index: 12;
        background-color: #2B4E82;
        background-image: url('../img/menubg.png');
        background-repeat: repeat-x;
        background-position: center bottom;
        transition: 0.3s;
        animation-timing-function: ease-in-out;
        transform: translateX(100%);
        overflow: auto;

        &.show {
            transform: translateX(0);
        }
    }

    .header__rightsect {
        display: block;
        padding: 70px 100px;

        nav {
            max-width: 100%;
            margin-bottom: 50px;

            ul {
                display: block;

                li {
                    margin-bottom: 30px;

                    a {
                        font-size: 22px;
                    }
                }
            }
        }

    }

    .header__rightsect .header__link {
        max-width: 100%;
        text-align: left;
    }

    .header__rightsect .header__link a {
        font-size: 22px;
        background: #4B53FF;
        padding: 20px 80px;
        display: inline-block;
    }









}

@media(max-width:575.8px) {
    .header__logo img {
        max-width: 108px;
    }

    header.header {
        padding: 30px 0;
        height: auto;
        height: 64px;
    }

    header.header.scrollheader {
        padding: 20px 0;
    }

    .menuwrapper {
        top: 64px;
        height: calc(100vh - 64px);
    }

    .header__rightsect {
        padding: 100px 0 0 0;

        nav {
            ul {
                padding-left: 80px;

                li {
                    margin: 0 0 40px 0;

                    a {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .header__rightsect .header__link a {
        width: 100%;
        font-size: 17px;
        text-align: center;
    }

}